conf.d/*
!conf.d/default.conf
log/*

mysql/data/*
!mysql/data/.gitkeep
mysql/conf/*
!mysql/conf/.gitkeep
mysql/logs/*
!mysql/logs/.gitkeep

www/*
!www/index.php
php/log/*

.DS_Store

redis/data/*
redis/logs/*
nginx/sites-available
nginx/sites-enabled
nginx/default
php
